@import mixins
body
    box-sizing: border-box
    margin: 0
    padding: 0
    width: 100%
    height: 100%
    background: linear-gradient(90deg, hsla(13, 100%, 65%, 0.02) 0%, hsla(0, 0%, 0%, 1) 70%), url("bg.jpg")
h1
    text-align: center
    font-size: 48px
    letter-spacing: 4px
    text-transform: uppercase
    color: #efe7cc
#calculator
    @include centerDiv
    border: 3px solid #000
    -webkit-box-shadow: 8px 8px 24px 0px rgba(255, 116, 78, 1)
    -moz-box-shadow: 8px 8px 24px 0px rgba(255, 116, 78, 1)
    box-shadow: 8px 8px 24px 0px rgba(255, 116, 78, 1)rgba(255, 116, 78, 1)
    border-radius: 20px
    padding: 20px
    background: #efd6bb
    margin-top: 30px
    hr
        color: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%)
    .row
        display: flex
        .calc-button
            width: 100px
            height: 100px
            margin: 9px
            button
                @include button
            button:hover
                background: #dec5aa
    .row-long
        display: flex
        .calc-button
            border: 1px solid #fcb7b2
            width: 215px
            height: 100px
            margin: 9px
            border-radius: 20px
            button
                @include button
            button:hover
                background: #dec5aa
    .wynik
        @include button
        border-radius: 0px
        text-align: right
        #viewers
            font-size: 48px
        #screen
            font-size: 20px